/* Design System Basics */

:root {
  --primary-font: 'Nunito Sans';
  --secondary-font: 'Russo One';

  --brand-black: #0e1111;

  --primary-color: ;
  --primary-shade: ;
  --primary-tint: ;

  --secondary-color: #6247aa;
  --secondary-shade: #453278;
  --secondary-tint: #8E68F7;

  --grey-1: #494A4D;
  --grey-2: #77777A;
  --grey-3: #A4A5A6;
  --grey-4: #E4E4E4;
  --grey-5: #E8E8E8;
}

body {
  font-family: var(--primary-font);
}

/*Anchor Styles*/

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
}

/* Button-Styles*/

.button-primary {
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  border: 3px solid var(--secondary-shade);
  border-radius: 2px;
  color: white;
  box-shadow: 6px 5px 0px 0px #28303D;
  margin-right: 20px;
  padding: 5px 10px;
  min-width: 80px;
  opacity: 0.9;
}

.button-primary:hover {
  opacity: 1;
}

/* Paragraph-Styles */

p {
  font-family: var(--primary-font), sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 300;

  color: var(--grey-1);

  line-height: 1.5em;
}

/* Headline-Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;

  color: #060f12;

  padding: 0px 0px;
} 

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.hero-headline {
  font-size: 50px;
  text-transform: uppercase;
}

.lighter-headline {
  font-weight: 400;
}

.fontcolor-darkmode {
  color: white;
}

.accent-headline {
  font-family: var(--secondary-font), sans-serif;
  color: var(--primary-color);
  text-transform: lowercase;
  font-size: 18px;
}

/* Card-Styles */

.box-shadow {
  box-shadow: 0px 8px 16px 0px rgba(6,15,18,0.24);
}

.border-radius {
  border-radius: 25px;
}

/* Background Colors */

.background-primary-color {
  background: var(--primary-color);
}

.background-primary-shade {
  background: var(--primary-shade);
}

.background-primary-tint {
  background: var(--primary-tint);
}

.background-secondary-color {
  background: var(--secondary-color);
}

.background-secondary-shade {
  background: var(--secondary-shade);
}

.background-secondary-tint {
  background: var(--secondary-tint);
}

.background-grey-1 {
  background: var(--grey-1);
}

.background-grey-2 {
  background: var(--grey-2);
}

.background-grey-3 {
  background: var(--grey-3);
}

.background-brand-black {
  background: var(--brand-black)
}


@media all and (max-width: 800px) {

  h1 {
      font-size: 24px;
    }
    
    h2, h3 {
      font-size: 20px;
    }
  
    h4, h5, h6 {
      font-size: 16px;
    }
  
    p {
      font-size: 15px;
    }
  
    .accent-headline {
      font-size: 14px;
    }
  
  }